html {
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0d412e;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #23705e;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    color: #ffa573;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}

img {
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    color: #e8faec;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}